.mobile-menu {
	position: fixed;
	opacity: 0;
	z-index: -100;
	right: 0;
	top: 94px;
	bottom: 0;
	left: 0;
	transition: 0.5s all;
	align-items: stretch;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	&.active {
		opacity: 1;
		z-index: 200;
		.wrapper-menu {
			transform: translateX(0);
		}
	}
	.wrapper-menu {
		width: 233px;
		background-color: $accentColor;
		padding: 6px 20px 20px;
		transition: 0.5s all;
		transform: translateX(-100%);
		z-index: 200;
		position: relative;
		.close-icon {
			position: absolute;
			right: 10px;
			top: 20px;
		}
		.nav-menu {
			display: flex;
			flex-direction: column;
			gap: 30px;
			li {
				.linkMenu {
					color: $white;
					&.active {
						&:before {
							opacity: 1;
						}
					}
					&::before {
						background-color: $white;
					}
					&::after {
						content: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.mobile-menu {
		display: flex;
	}
}
