//colors
$white: #ffffff;
$secondaryTextColor: #c3c5ce;
$accentColor: #09aff4;
$blue: #07436b;
$darkBlue: #060922;

//screens
$desktop: 1439px;
$laptop: 1199px;
$tablet: 1023px;
$mobile1: 767px;
$mobile2: 480px;
